*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Sora", sans-serif;
}


header .logo h1 {
    color: #333;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.cabecalho-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-home{
    position: relative;
}
.bg-home::before{
        content: "";
        background-image: url(design.webp);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
}
i{
    color: #fff;
}
.cabecalho-botao{
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 24px;
    text-decoration: none;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.5s;
    
}
.cabecalho-botao:hover{
    background-color: rgb(43, 255, 0);
    border: 1px solid rgb(0, 255, 98);
    color: black;
}
.cabecalho-icones{
    gap: 14px;
    display: flex;
}
.principal{
    color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
}
.principal h1{
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 46px;
}
.principal p{
    text-align: center;
    margin: 14px 0;
}

.botao-contato:hover{
    animation: scaleButtom 0.8s alternate infinite;
}
@keyframes scaleButtom {
    from {
        transform: scale(1) ;
    }
    to{
        transform: scale(1.07);
    }

    
}
.sobre{
    background-color: #06121e;
    color: #fff;
}
.sobre-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
}
.sobre-conteudo  img{
    max-width: 570px;
}
.sobre-conteudo div{
    flex: 1;
}
.sobre-conteudo h2{
    font-size: 38px;
    margin-bottom: 24px;
}
.sobre-conteudo p{
    margin-bottom: 14px;
    line-height: 150%;
}
.servicos-conteudo{
    background-color: #06121e;
    color: #232224;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 14px;
}
.servicos-conteudo h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}
.servicos-conteudo p{
    line-height:150%;
    margin-bottom: 14px;
    text-align: left;
    max-width: 780px;
}
.cortes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 44px 34px 34px;
}
.corte {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    color: black;
    overflow: hidden;


    
       
    
    
}



.corte img {
    width: 100%;
    transition: transform 0.2s;
}

.corte img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.corte-info {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: #fff;
}

.corte-info button {
    color: #fff;
    background-color: #1b24ca;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    cursor: default;
}

.rodape h2{
    font-size: 38px;
    margin-bottom: 24px;
}
.rodape-icones{
    display: flex;
    gap:8px;
    color:#fff
}


.rodape{
    background-color: #06121e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 14px;
}


.endereco{
    text-align: center;
    color:#fff
}
.endereco a{
    color: #FFF;
    line-height: 200%;
}
body{
    font-family: "Sora", sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #06121e;
}