*{
    margin: 0;
    border: 0;
    padding: 0;
}
@font-face {
    font-family: "lexend";
    src: url(font/Lexend-VariableFont_wght.ttf);
}

header {
    background-image: url(img/fundo.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: "lexend";
    font-size: 90px;
    font-weight: 500;
}
.slogan {
    font-family: "lexend";
    font-size: 30px;
}

.nossoProcesso {
    background-color: rgba(8, 97, 8, 0.788);
}

.processo img {
    width: 400px;
}

.processo {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    margin: 0 20px;
}
.container {
    display: flex;
    justify-content: center;
}
.titulo {
    font-family: "lexend";
    font-size: 60px;
    color:white;
    padding: 100px;
    font-weight: 500;
}
.texto {
    font-family: "lexend";
    font-size: 20px;
    padding: 5px 7px;
}
.sobreNos .titulo {
    color: black;
    padding-left: 0;
}
.sobreNos {
    margin: 0 100px;
}
h3 {
    font-family: "lexend";
    font-size: 30px;
    color: rgba(8, 97, 8, 0.788);
}
footer {
    background-color: rgba(8, 97, 8, 0.788);
    padding-bottom: 70px;
}
.contato {
    font-family: "lexend";
    color: white;
    padding: 0 100px;
    font-size: 36px;
}