* {
    margin: 0;
    border: 0;
    padding: 0;
}
@font-face {
font-family:"lexend";
src: url(ECOCICLO-main/font/Lexend-VariableFont_wght.ttf);

}
header {
    background-image: url(ECOCICLO-main/img/fundo.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: "lexend";
    font-size: 90px;   
    font-weight: 500;

}
.slogan {
font-family: "lexand";
font-size: 30px;
}
.nossoProcesso {
    background-color: rgb(152, 182, 152);
}
.processo img {
    width: 400px;
}
.processo {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    margin: 0 20px;
}
.container {
    display: flex;
    justify-content: center

}
.titulo {
    font-family: "lexand";
    font-size: 20px;
    color: white;
    padding: 100px;
    font-weight: 500;
}
.texto {
    font-family: "lexand";
    font-size: 20px;
    padding: 5px 7px;
}
.sobrenos {
    color: black;
}
.sobreNos {
    margin: 0 100px;
}
h3{
    font-family: "lexand";
    font-size: 30px;
    color: green;
}
